Client/AutomationClient/Service References/Remote/phoneAutomation4.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WindowsPhoneTestFramework.AutomationController.Interfaces" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WindowsPhoneTestFramework.AutomationController.Interfaces" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="AutomationIdentifier">
    <xs:sequence>
      <xs:element minOccurs="0" name="AutomationName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DisplayedText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ElementName" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AutomationIdentifier" nillable="true" type="tns:AutomationIdentifier" />
</xs:schema>